mixin input(type, placeholder, className, value)
    input(type=type placeholder=placeholder class=className value=value).input

mixin textarea(type, placeholder, className)
    textarea(type=type placeholder=placeholder class=className).textarea