mixin item(title, url)
    li
        a(href=url, class=active == title ? 'active' : '')= title

mixin iconSvg(w, h, wp, id)
    svg(width=w height=h class=id)
        use(xlink:href="/images/icons/sprites.svg#"+id)

mixin mixinSvg(w, h, idIcon, className)
    svg(width=w height=h class=className)
        use(xlink:href="/images/icons/sprites.svg#"+idIcon)

mixin img(src, addClass, altImg)
    if altImg == ""
        img(src=src alt="Title Image" class=addClass)
    else
        img(src=src alt=altImg class=addClass)


mixin radioInput(checked, text)
    label.radio-button
        if checked == true
            input.radio-button__input(type="radio" name="radio" checked="checked")
        else
            input.radio-button__input(type="radio" name="radio")
        span.radio-button__text
            span.radio-button__status
            span=text

mixin checkInput(checked, text)
    label.checkbox-button
        if checked == true
            input.checkbox-button__input(type="checkbox" checked="checked" required="")
        else
            input.checkbox-button__input(type="checkbox" required="")
        span.checkbox-button__text
            span.checkbox-button__status
            span=text

mixin checkInputDefault(checked, name, text)
    label.checkbox-default
        if checked == true
            input.checkbox-default__input(type="checkbox" checked="checked" required="")
        else
            input.checkbox-default__input(type="checkbox" required="")
        span.checkbox-default__text
            span.checkbox-default__status
            span.checkbox-default__text-name= name
            span.checkbox-default__text-content=text

mixin radioInputDefault(checked, radioName, name)
    label.radio-default
        if checked == true
            input.radio-default__input(type="radio" name=radioName checked="checked" required="")
        else
            input.radio-default__input(type="radio" name=radioName required="")
        span.radio-default__text
            span.radio-default__status
            span.radio-default__text-name= name
            span.radio-default__text-content
                block

mixin newsPostFull(src, name, date)
    a(href="#" ).news__item
        img(src=src).news__image
        .news__info
            .news__name= name
            .news__date= date

mixin newsPost(src, name, date)
    a(href="#").news__post
        .news__image-wrapper
            img(src=src).news__image-small
        .news__content
            .news__content-date= date
            .news__content-name= name

mixin productParametr(name, desc)
    .product-preview__parametr-item
        .product-preview__parametr-name= name
        .product-preview__parametr-value= desc

mixin productItem(sliderTrue, addClass, image, title)
    .product-item(class=addClass)
        if sliderTrue == true

            .product-item__slider-wrapper
                a(href="#").product-item__slider

                    each imageItem in image
                        .product-item__slider-element
                            img.product-item__slider-image(src= imageItem)

                .product-item__slider-navigate
                    .product-item__slider-navitem.product-item__slider-navitem--prev
                        +iconSvg('8', '14', '', 'icon__arrow-slide')
                    .product-item__slider-navitem.product-item__slider-navitem--next
                        +iconSvg('8', '14', '', 'icon__arrow-slide')

        else

            a.product-item__image-wrapper(href="#")
                img.product-item__image(src= image)
                .product-item__label
                    .product-item__label-item.product-item__label-item--action Акция
                    .product-item__label-item.product-item__label-item--discount -20%

        a(href="#favorite").product-item__favorite //.product-item__favorite--active
            +iconSvg('22', '22', '0 0 22 22', 'icon-favorite')
        a.product-item__information(href="#")
            .product-item__name= title
            .product-item__price-wrapper
                .product-item__price
                    .product-item__price-current
                        | 45 040
                        .product-item__price-currency ₽
                    .product-item__price-old 56 340
                .product-item__review
                    .product-item__rating.product-item__rating--active
                        span.product-item__rating-star
                            +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                        span.product-item__rating-star
                            +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                        span.product-item__rating-star
                            +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                        span.product-item__rating-star
                            +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                        span.product-item__rating-star
                            +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                    .product-item__rating-count 22

        .product-item__button
            a(href="#").button.button--add-card В корзину
            a(href="#").links.links--buy-click Купить в 1 клик


// Images product

- var productSlide1 = ['src/blocks/product-item/assets/img/product-slide1/product-item1.jpg', 'src/blocks/product-item/assets/img/product-slide1/product-item2.jpg', 'src/blocks/product-item/assets/img/product-slide1/product-item3.jpg', 'src/blocks/product-item/assets/img/product-slide1/product-item4.jpg', 'src/blocks/product-item/assets/img/product-slide1/product-item5.jpg']
- var productSlide2 = ['src/blocks/product-item/assets/img/product-slide2/product-item1.jpg', 'src/blocks/product-item/assets/img/product-slide2/product-item2.jpg', 'src/blocks/product-item/assets/img/product-slide2/product-item3.jpg', 'src/blocks/product-item/assets/img/product-slide2/product-item4.jpg', 'src/blocks/product-item/assets/img/product-slide2/product-item5.jpg']
- var productSlide3 = ['src/blocks/product-item/assets/img/product-slide3/product-item1.png', 'src/blocks/product-item/assets/img/product-slide3/product-item2.jpg', 'src/blocks/product-item/assets/img/product-slide3/product-item3.jpg', 'src/blocks/product-item/assets/img/product-slide3/product-item4.jpg', 'src/blocks/product-item/assets/img/product-slide3/product-item5.jpg']
- var productSlide4 = ['src/blocks/product-item/assets/img/product-slide4/product-item1.jpg', 'src/blocks/product-item/assets/img/product-slide4/product-item2.png', 'src/blocks/product-item/assets/img/product-slide4/product-item3.png', 'src/blocks/product-item/assets/img/product-slide4/product-item4.jpg', 'src/blocks/product-item/assets/img/product-slide4/product-item5.jpg']
- var productSlide5 = ['src/blocks/product-item/assets/img/product-slide5/product-item1.png', 'src/blocks/product-item/assets/img/product-slide5/product-item2.png', 'src/blocks/product-item/assets/img/product-slide5/product-item3.png']
- var productSlide6 = ['src/blocks/product-item/assets/img/product-slide6/product-item1.jpg', 'src/blocks/product-item/assets/img/product-slide6/product-item2.jpg', 'src/blocks/product-item/assets/img/product-slide6/product-item3.png', 'src/blocks/product-item/assets/img/product-slide6/product-item4.jpg', 'src/blocks/product-item/assets/img/product-slide6/product-item5.jpg']
- var productSlide7 = ['src/blocks/product-item/assets/img/product-slide7/product-item1.jpg', 'src/blocks/product-item/assets/img/product-slide7/product-item2.jpg', 'src/blocks/product-item/assets/img/product-slide7/product-item3.png', 'src/blocks/product-item/assets/img/product-slide7/product-item4.jpg', 'src/blocks/product-item/assets/img/product-slide7/product-item5.jpg']
- var productSlide8 = ['src/blocks/product-item/assets/img/product-slide8/product-item1.jpg', 'src/blocks/product-item/assets/img/product-slide8/product-item2.jpg', 'src/blocks/product-item/assets/img/product-slide8/product-item3.png', 'src/blocks/product-item/assets/img/product-slide8/product-item4.jpg', 'src/blocks/product-item/assets/img/product-slide8/product-item5.jpg']
- var productSlide9 = ['src/blocks/product-item/assets/img/product-slide9/product-item1.jpg', 'src/blocks/product-item/assets/img/product-slide9/product-item2.jpg', 'src/blocks/product-item/assets/img/product-slide9/product-item3.png', 'src/blocks/product-item/assets/img/product-slide9/product-item4.jpg', 'src/blocks/product-item/assets/img/product-slide9/product-item5.jpg']
- var productSlide10 = ['src/blocks/product-item/assets/img/product-slide10/product-item1.jpg', 'src/blocks/product-item/assets/img/product-slide10/product-item2.jpg', 'src/blocks/product-item/assets/img/product-slide10/product-item3.jpg', 'src/blocks/product-item/assets/img/product-slide10/product-item4.jpg', 'src/blocks/product-item/assets/img/product-slide10/product-item5.jpg']