mixin item(title, url)
    li
        a(href=url, class=active == title ? 'active' : '')= title

mixin iconSvg(w, h, wp, id)
    svg(width=w height=h viewBox=wp class=id)
        use(xlink:href="/images/icons/sprites.svg#"+id)
// Use icon
// +iconSvg('14', '14', '0 0 14 14', 'icon-top')

mixin productItem(image, action, discount, favoriteStatus, title, rating)
    .product-item
        a.product-item__image-wrapper(href="#")
            img.product-item__image(src= image)
            .product-item__label
                .product-item__label-item.product-item__label-item--action= action
                .product-item__label-item.product-item__label-item--discount= discount
        if favoriteStatus == true
            a(href="#favorite").product-item__favorite.product-item__favorite--active
                +iconSvg('22', '22', '0 0 22 22', 'icon-favorite')
        else
            a(href="#favorite").product-item__favorite
                +iconSvg('22', '22', '0 0 22 22', 'icon-favorite')
        a.product-item__information(href="#")
            .product-item__name= title
            .product-item__price-wrapper
                .product-item__price
                    .product-item__price-current
                        | 45 040
                        .product-item__price-currency ₽
                    .product-item__price-old 56 340
                .product-item__review
                    if rating == true
                        .product-item__rating.product-item__rating--active
                            span.product-item__rating-star
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                            span.product-item__rating-star
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                            span.product-item__rating-star
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                            span.product-item__rating-star
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                            span.product-item__rating-star
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                        .product-item__rating-count 22
                    else
                        .product-item__rating
                            span.product-item__rating-star
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                            span.product-item__rating-star
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                            span.product-item__rating-star
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                            span.product-item__rating-star
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                            span.product-item__rating-star
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                        .product-item__rating-count 0

        .product-item__button
            a(href="#").button.button--add-card В корзину
            a(href="#").links.links--buy-click Купить в 1 клик

mixin productItemSlider()
    .product-item
        .product-item__slider-wrapper
            a(href="#").product-item__slider
                .product-item__slider-element
                    img.product-item__slider-image(src="src/blocks/product-item/assets/img/product-slide1/product-item1.jpg")
                .product-item__slider-element
                    img.product-item__slider-image(src="src/blocks/product-item/assets/img/product-slide1/product-item2.jpg")
                .product-item__slider-element
                    img.product-item__slider-image(src="src/blocks/product-item/assets/img/product-slide1/product-item3.jpg")
                .product-item__slider-element
                    img.product-item__slider-image(src="src/blocks/product-item/assets/img/product-slide1/product-item4.jpg")
                .product-item__slider-element
                    img.product-item__slider-image(src="src/blocks/product-item/assets/img/product-slide1/product-item5.jpg")
            .product-item__slider-navigate
                li(data-controls="prev" aria-controls="customize" tabindex="-1").product-item__slider-navitem.product-item__slider-navitem--prev.
                    <svg id="arrow" viewBox="0 0 8 14"><path d="M6.976.696a.6.6 0 1 1 .848.849l-5.94 5.94a.6.6 0 0 1-.848-.849l5.94-5.94z"></path><path d="M1.036 7.485a.6.6 0 0 1 .849-.849l5.94 5.94a.6.6 0 0 1-.85.848l-5.939-5.94z"></path></svg>
                li(data-controls="next" aria-controls="customize" tabindex="-1").product-item__slider-navitem.product-item__slider-navitem--next.
                    <svg id="arrow" viewBox="0 0 8 14"><path d="M6.976.696a.6.6 0 1 1 .848.849l-5.94 5.94a.6.6 0 0 1-.848-.849l5.94-5.94z"></path><path d="M1.036 7.485a.6.6 0 0 1 .849-.849l5.94 5.94a.6.6 0 0 1-.85.848l-5.939-5.94z"></path></svg>

            .product-item__label
                .product-item__label-item.product-item__label-item--action Акция
                .product-item__label-item.product-item__label-item--discount -20%

        a(href="#favorite").product-item__favorite
            +iconSvg('22', '22', '0 0 22 22', 'icon-favorite')
        a.product-item__information(href="#")
            .product-item__name Коллекция №1
            .product-item__price-wrapper
                .product-item__price
                    .product-item__price-current
                        | 45 040
                        .product-item__price-currency ₽
                    .product-item__price-old 56 340
                .product-item__review
                    .product-item__rating
                        span.product-item__rating-star
                            +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                        span.product-item__rating-star
                            +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                        span.product-item__rating-star
                            +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                        span.product-item__rating-star
                            +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                        span.product-item__rating-star
                            +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                    .product-item__rating-count 0

        .product-item__button
            a(href="#").button.button--add-card В корзину
            a(href="#").links.links--buy-click Купить в 1 клик